@page "/results"
<h3>Resultados</h3>

<div class="col-6">
    <label>Ubicación:</label>
    <div class="mb-3">
        <label>País:</label>
        <div>
            <select required class="form-select" @onchange="CountryChangedAsync">
                <option value="0">-- Seleccione un país --</option>
                @if (countries is not null)
                {
                    @foreach (var country in countries)
                    {
                        <option value="@country.Id" selected="@(country.Id == countryselected)">@country.Name</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="mb-3">
        <label>Estado/Departamento:</label>
        <div>
            <select required class="form-select" @onchange="StateChangedAsync">
                <option value="0">-- Seleccione un estado/departamento --</option>
                @if (states is not null)
                {
                    @foreach (var state in states)
                    {
                        <option value="@state.Id" selected="@(state.Id == stateselected)">@state.Name</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="mb-3">
        <label>Ciudad:</label>
        <div>
            <select required class="form-select" @bind="cityselected">
                <option value="0">-- Seleccione una ciudad --</option>
                @if (cities is not null)
                {
                    @foreach (var city in cities)
                    {
                        <option value="@city.Id" selected="@(city.Id == cityselected)">@city.Name</option>
                    }
                }
            </select>
        </div>
    </div>
</div>

<Button Clicked="LoadElectoralJourneysAsync">Buscar</Button>

<GenericList MyList="ElectoralJourneys">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Jornada
                    </th>
                    <th>
                        Fecha hora inicio
                    </th>
                    <th>
                        Fecha hora fin
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var electoralJourney in ElectoralJourneys!)
                {
                    <tr>
                        <td>
                            @electoralJourney.Name
                        </td>
                        <td>
                            @electoralJourney.Date
                        </td>
                        <td>
                            @electoralJourney.DateFinish
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </Body>
</GenericList>
